
html {
  font-family: 'Raleway', sans-serif;
  font-size: 0.9rem;
}


/* NAVBAR */

nav {
  width: 100%;
  background-color: #629238;
  height: 15vh;
}

nav ul li {
  display: inline;
  /*font-family: 'Raleway', sans-serif;*/
}

nav ul li a {
  text-decoration: none;
  color: #f2f2f2;
}

/* BANNER */

#about-banner {
  opacity: 0.8;
}

/* MAIN CONTENT */

.wrapper {
  width: 1000px;
  margin: 0 auto;
  padding: 2%;
}

.sub-headings {
  color: #629238;
  font-size: 2rem;
  /*font-family: 'Raleway', sans-serif;*/
  padding-bottom: 1%;
}

#family-operated {
  /*font-family: 'Raleway', sans-serif;*/
  text-align:justify;
  line-height: 30px;
  font-weight: 400;
  font-size: 0.9rem;
}
