
html {
  font-family: 'Raleway', sans-serif;
  font-size: 0.9rem;
}

/* NAVBAR */

nav {
  width: 100%;
  background-color: #629238;
  height: 15vh;
  position: relative;
}

/*nav:after {
  clear: both;
  display: block;
  content: "";
}*/

ul {
  float: right;
  margin-top: 3%;
  margin-right: 9%;
  width: 550px;
}

nav ul li {
  display: inline;
  padding: 5%;
}

nav ul li a {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 1.5rem;
}

a:hover {
  color: #B5D994;
}

#leaf-logo {
  margin-left: 14%;
  margin-top: 1%;
}

span {
  font-size: 2rem;
  color: #f2f2f2;
  position: absolute;
  margin-top: 2.7%;
  margin-left: 0.6%;
}

/* BANNER */

#about-banner {
  opacity: 0.8;
  position: relative;
}

.page-headings {
  position: absolute;
  color: #fff;
  text-transform:uppercase;
  font-size: 5rem;
  margin-left: 15%;
  margin-top: -11%;
}

/* MAIN CONTENT */

.wrapper {
  width: 1000px;
  margin: 0 auto;
  padding: 2%;
}

.sub-headings {
  color: #629238;
  font-size: 2rem;
  /*font-family: 'Raleway', sans-serif;*/
  padding-bottom: 1%;
  padding-top: 3%;
}

#family-operated {
  /*font-family: 'Raleway', sans-serif;*/
  text-align:justify;
  line-height: 30px;
  font-weight: 400;
}

#offer-list {
  float:none;
  width: 100%;
}

#thank-customers {
  text-align: justify;
  line-height: 30px;
  font-weight: 400;
  float: left;
  width: 480px;
}

#family-pic {
  float: right;
  padding-top: 1%;
}

#thankyou:after {
  display: block;
  clear: both;
  content: "";
}

/* FOOTER */

.footer-info {
  width: 250px;
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.3rem;
  margin-bottom: 1%;
  margin-top: 3%;
}

#footer-company {
  text-transform: uppercase;
}
