
html {
  font-family: 'Raleway', sans-serif;
  font-size: 0.9rem;
}

/* NAVBAR */

nav {
  width: 100%;
  background-color: #629238;
  height: 15vh;
  position: relative;
}

ul {
  float: right;
  margin-top: 3%;
  margin-right: 9%;
  width: 550px;
}

nav ul li {
  display: inline;
  padding: 5%;
}

nav ul li a {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 1.5rem;
}

#leaf-logo {
  margin-left: 14%;
  margin-top: 1%;
}

span {
  font-size: 2rem;
  color: #f2f2f2;
  position: absolute;
  margin-top: 2.7%;
  margin-left: 0.6%;
}

/* BANNER */

#gallery-banner {
  opacity: 0.8;
  position: relative;
}

.page-headings {
  position: absolute;
  color: #fff;
  text-transform:uppercase;
  font-size: 5rem;
  margin-left: 15%;
  margin-top: -11%;
}

/* MAIN CONTENT */

.wrapper {
  width: 1000px;
  margin: 0 auto;
  padding: 2%;
}

.contact-info {
  margin: 0 auto;
  width: 650px;
  text-align: center;
}

.sub-headings {
  color: #629238;
  font-size: 2rem;
  /*font-family: 'Raleway', sans-serif;*/
  padding-bottom: 1%;
  padding-top: 3%;
}

.contact-details {
  line-height: 36px;
  font-weight: 400;
  font-size: 2rem;
}
