
html {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0 auto;
  text-align: center;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #fff;
}

/* HELPER CLASSES*/

.centered {
  position: absolute;
  left: 50%;
  top: 58%;
  transform: translate(-50%,-50%);
  z-index: 2;
  max-width: 100%;
  display: none;
}

.shader {
  width: 100%;
  height: 85vh;

  position: absolute;
  background: -webkit-linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3));
  z-index: 1;
}

/* NAVBAR */

header {
  position: absolute;
  top: 0;
  z-index: 2;
  background: transparent;
  width: 100%;
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5rem;
  margin-left: 3%;
  padding-top: 3%;
  font-family: 'Montserrat', sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: #B5D994;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

#leaf-image {
  margin-left: 16%;
  margin-top: -17%;
}

#leaf-image:hover {
  opacity: 0.5;
}

/* HOMEPAGE */

main {
  width: 100%;
  height: 85vh;

  background: url('../images/home-background.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#heading {
  font-size: 3.8rem;
  color: #fff;
  font-family: 'Noto Serif', serif;
  margin-bottom: 2%;
  margin-top: 3%;
}

.intro-txt {
  color: #fff;
  font-size: 1.5rem;
  font-family: sans-serif;
  line-height: 30px;
}

#phone-no {
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: 700;
  padding-top: 3%;
  margin-right: 70%;
  text-shadow: 1px 1px 1px #000;
}

#email-head {
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: 700;
  margin-left: 56%;
  margin-top: -1.7%;
  text-shadow: 1px 1px 1px #000;

}

/* Bottom page banner */

.bottomPage-banner {
  width: 100%;
  background: #629238;
  height: 15vh;
  position: relative;
}

.bottomPage-banner:after {
  content: "";
  display: block;
  clear: both;
}

/* Expansion of page */

section {
  width: 100%;
  height: auto;
}

.column1 {
  width: 48%;
  float: left;
  color: #629238;
  font-family: sans-serif;
}

.column2 {
  width: 48%;
  float: right;
  color: #629238;
  font-family: sans-serif;
}

section:after {
  content: "";
  display: block;
  clear: both;
}

#services {
  text-align: left;
  font-size: 5rem;
  margin-top: 12%;
  margin-left: 11%;
  margin-bottom: 7%;
  text-shadow: 1px 1px 1px #fff;
}

#landscapes {
  text-align: center;
  font-size: 4rem;
  margin-top: 11%;
  margin-left: 12%;
  text-shadow: 1px 1px 1px #fff;
}

#list1 {
  text-align: center;
  line-height: 48px;
  margin-top: 13%;
  font-size: 2rem;
}

#list2 {
  text-align: center;
  line-height: 40px;
  margin-right: 16%;
  font-size: 1.5rem;
  margin-bottom: 10%;
}

#decking {
  margin-top: 10%;
  max-width: 100%;
  height: auto;
  margin-left: 10%;
}

#rockerie {
  margin-top: 14%;
  max-width: 100%;
  height: auto;
  margin-right: 10%;
}

#worker {
  position: relative;
  margin-top: 15%;
  max-width: 100%;
  height: auto;
  margin-right: 10%;
}

/* General button style (reset) */
.btn {
	border: 2px solid #629238;
	font-family: sans-serif;
	font-size: inherit;
  font-weight: 700;
	color: #629238;
	background: none;
	cursor: pointer;
	padding: 22px 38px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top: -7%;
  margin-right: 10%;
  text-shadow: 1px 1px 1px #000;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Button 1c */
.btn-1c:after {
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	background: #99cc00;
}

.btn-1c:hover,
.btn-1c:active {
	color: #629238;
  box-shadow: 5px 5px 5px #629238;
}

.btn-1c:hover:after,
.btn-1c:active:after {
	width: 100%;
}

#contact1:hover {
  opacity: 0.5;
}

#contact2 {
  width: 150px;
  height: 60px;
  font-family: sans-serif;
  text-transform: uppercase;
}

blockquote {
  font-size: 2rem;
  margin-top: 15%;
  margin-left: 21%;
  display: none;
  font-style: italic;
  font-family: 'Noto Serif', serif;
  color: #3e5c23;
}

blockquote:first-of-type {
  display: block;
}

#quote-end {
  position: absolute;
  top: 267%;
  left: 6%;
}

#covered-opacity {
  position: absolute;
  background-color: #629238;
  width: 550px;
  height: 90px;
  margin-left: 2.5%;
  margin-top: -6.5%;
  opacity: 0.4;
}

#covered-txt {
  font-size: 2.3rem;
  color: #629238;
  position: absolute;
  margin-left: 3%;
  margin-top: -4.5%;
  font-weight: 700;
  text-shadow: 3px 3px 1px #000;
}

/* FOOTER */

.footer-info {
  width: 250px;
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.3rem;
  margin-bottom: 1%;
  margin-top: 3%;
}

#footer-company {
  text-transform: uppercase;
  font-family: 'Noto Serif', serif;
  color: #629238;
}

#design-info {
  font-size: 1rem;
  font-family: sans-serif;
  color: black;
}

.contact-details {
  font-family: sans-serif;
  font-size: 1.6rem;
  line-height: 30px;
  color: black;
}

#email-info {
  margin-left: -20%;
  color: black;
}


/* MEDIA QUERIES */


/* RESPONSIVE NAVBAR */
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 687px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 687px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* RESPONSIVE SCREEN SIZES */

/* IPAD LANDSCAPE */
@media screen and (max-width: 1024px) {
  #heading {
    font-size: 2.7rem;
  }
  .intro-txt {
    font-size: 1.2rem;
  }
  .centered {
    top: 56%;
    left: 49%;
  }
  #email-head {
    font-size: 1.2rem;
    margin-top: -1.6%;
  }
  #phone-no {
    font-size: 1.2rem;
    padding-top: 4%;
  }
}

/* IPAD PORTRAIT */

@media screen and (max-width: 768px) {
  .centered {
    top: 53%;
  }
  #phone-no {
    padding-top: 55px;
  }
  .topnav {
    margin-top: 10px;
  }
}

@media screen and (max-width: 980px) {
  #phone-no {
    margin-right: 0%;
    padding-bottom: 5px;
  }
  #email-head {
    margin-left: 0%;
    margin-top: 0%;
  }
}

@media screen and (max-width: 800px) {
  #heading {
    font-size: 3rem;
  }
  .intro-txt {
    font-size: 1.2rem;
    line-height: 26px;
  }
  #phone-no {
    font-size: 1.3rem;
  }
  #email-head {
    font-size: 1.3rem;
  }
  #leaf-image {
    margin-top: -12%;
  }
}

@media screen and (max-width: 687px) {
  .topnav.responsive a {
    text-align: center;
    padding: 10px;
  }
  #leaf-image {
    margin-top: 0%;
    margin-right: 14%;
  }
}

@media screen and (max-width: 480px) {
  #heading {
    font-size: 2.5rem;
    margin-bottom: 12px;
  }
  .intro-txt {
    font-size: 1rem;
    line-height: 23px;
  }
  .centered {
    top: 58%;
  }
  #phone-no {
    font-size: 1rem;
    padding-top: 30px;
  }
  #email-head {
    font-size: 1rem;
  }
}

/* IPHONE 6 */

@media screen and (max-width: 375px) {
  .intro-txt {
    font-size: 0.9rem;
  }
  #heading {
    font-size: 2.1rem;
  }
  .topnav {
    margin-right: 15px;
  }
}

/* GALAXY S7 */

@media screen and (max-width: 360px) {
  .intro-txt {
    line-height: 17px;
  }
  #heading {
    font-size: 1.8rem;
  }
  .topnav {
    margin-right: 15px;
  }
}

/* IPHONE 4 & 5 */

@media screen and (max-width: 320px) {
  #heading {
    font-size: 1.5rem;
  }
  .intro-txt {
    font-size: 0.8rem;
  }
  #phone-no {
    padding-top: 23px;
    font-size: 0.8rem;
  }
  #email-head {
    font-size: 0.8rem;
  }
  .topnav.responsive a {
    padding: 5px;
  }
}

/* Expansion Page */

/* IPAD LANDSCAPE */
@media screen and (max-width: 1024px) {
  #services {
    text-align: center;
    font-size: 4rem;
    margin-left: 5%;
  }
  #list2 {
    margin-right: 1%;
  }
  #contact1 {
    margin-right: -7%;
  }
  #rockerie {
    max-width: 90%;
    margin-right: -1%;
  }
  #worker {
    max-width: 90%;
    margin-right: -1%;
    margin-top: 25%;
  }
  #landscapes {
    margin-top: 5%;
  }
  #list1 {
    line-height: 40px;
    margin-top: 4%;
    font-size: 1.7rem;
  }
  blockquote {
    font-size: 1.7rem;
    margin-top: 17%;
  }
  .footer-info {
    margin-top: 8%;
  }
  #covered-opacity {
    width: 444px;
    height: 80px;
    margin-top: -8%;
  }
  #covered-txt {
    font-size: 1.8rem;
    margin-left: 4%;
    margin-top: -5.5%;
  }
}

@media screen and (max-width: 900px) {
  #services {
    font-size: 3.5rem;
  }
  #landscapes {
    font-size: 3.5rem;
  }
  .btn {
    margin-right: -8%;
  }
  #quote-end {
    top: 225%;
    left: 2%;
  }
  #covered-opacity {
    width: 389px;
    height: 69px;
  }
  #covered-txt {
    font-size: 1.5rem;
  }
}

/* IPAD PORTRAIT */

@media screen and (max-width: 768px) {
  #services {
    font-size: 3rem;
    margin-left: -1%;
  }
  #decking {
    max-width: 90%;
  }
  #landscapes {
    font-size: 3rem;
    margin-top: 9%;
  }
  #list2 {
    line-height: 34px;
    font-size: 1.3rem;
    margin-right: 11%;
  }
  #contact1 {
    font-size: 1.1rem;
    padding: 15px;
    margin-right: 0%;
  }
  #list1 {
    line-height: 34px;
    font-size: 1.3rem;
    margin-top: 7%;
  }
  #rockerie {
    margin-right: 5%;
  }
  #worker {
    margin-right: 5%;
    margin-top: 29%;
  }
  blockquote {
    font-size: 1.2rem;
    margin-top: 16%;
  }
  #covered-opacity {
    margin-left: 1.4%;
    width: 331px;
    height: 52px;
    margin-top: -7%;
  }
  #covered-txt {
    font-size: 1.3rem;
    margin-left: 3%;
  }
}

/* IPHONE 7 */

@media screen and (max-width: 375px) {
  .column1 {
    float: none;
  }
  .column2 {
    float: none;
  }
  #decking {
    max-width: 150%;
    margin-left: 28%;
  }
  #landscapes {
    font-size: 2rem;
    margin-top: 9%;
    margin-left: 34%;
    width: 250px;
  }
  #list1 {
    line-height: 31px;
    margin-top: 14%;
    width: 294px;
  }
  blockquote {
    font-size: 1.3rem;
    margin-top: 16%;
    width: 294px;
  }
  #covered-txt {
    display: none;
  }
  #covered-opacity {
    display: none;
  }
  #services {
    font-size: 2rem;
    width: 200px;
    margin-left: 47%;
    margin-top: 18%;
  }
  #list2 {
    line-height: 31px;
    width: 294px;
    margin-top: 12%;
    margin-bottom: 17%;
  }
  #contact1 {
    font-size: 0.8rem;
    padding: 13px;
    margin-right: -106%;
  }
  #rockerie {
    max-width: 150%;
    margin-top: 30%;
    margin-left: 28%;
  }
  #worker {
    max-width: 150%;
    margin-left: 28%;
  }
  .contact-details {
    font-size: 1.3rem;
  }
  #email-info {
    margin-left: -9%;
  }
}

/* GALAXY S6 AND S7 */

@media screen and (max-width: 360px) {
  blockquote {
    width: 288px;
  }
  #list2 {
    width: 287px;
  }
}

/* IPHONE 4 AND 5 */

@media screen and (max-width: 320px) {
  #landscapes {
    font-size: 1.5rem;
    margin-top: 13%;
    margin-left: 22%;
  }
  #list1 {
    width: 231px;
    font-size: 1rem;
  }
  blockquote {
    width: 246px;
  }
  #services {
    font-size: 1.5rem;
    margin-left: 36%;
    margin-top: 26%;
  }
  #list2 {
    line-height: 28px;
    width: 236px;
    font-size: 1rem;
    margin-bottom: 25%;
  }
  .contact-details {
    font-size: 1rem;
  }
  #email-info {
    margin-left: -2%;
  }
}
